@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#id {
    width: 100%;
}

.homePage{
    position: relative;
}

.rahul-image img{
    width: 93%;
    height: 890px;
}

.ontainer {
    width: 50%;
    display: inline-block;
}

.content {
    position: absolute;
}

.text-heading{
    font-family: 'Fugaz One', cursive;
    position: absolute;
}
.text-heading h4 {
    font-size: 24px;
    font-weight: bold;
    color: #EFB01D;
    font-family: 'Montserrat', sans-serif;
    margin-left: 90px;
    margin-top: 200px;
}
.text-heading h1 {
    font-size: 108px;
    font-family: 'Fugaz One', cursive;
    color: #4B4638;
    text-align: center;
    margin-left: 80px;
}

.text-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 60%;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 400px;
    line-height: 24px;

}

.text-paragraph span{
    font-weight: bolder;
}

.contact-number{
    margin-left: 76px;
    margin-top: 70px;
}

.number{
    margin: 5px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.Email-section {
    margin-left: 76px;
    
}
.email{
    display: inline-block;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.top {
    position: absolute;
    transform: translate(900px, 0px);
}
.yup{
    display: inline-block;
    margin: 6px;
    cursor: pointer;
}
.domain{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #4B4638B2;
}
.lo{
    transform: translate(0px, 6px);
}

.frame-2{
    position: absolute;
    width: 100%;
    height: 1770px;
    overflow: visible;
    background: #181818;
}

.heading {
    position: absolute;
    margin-top: 100px;
}
.heading h1 {
    font-size: 126px;
    font-family: 'Fugaz One', cursive;
    color: #EFB01D;
    margin-left: 100px;
    margin-top: 30px;
}

.punchline{
    transform: translate(900px, 620px);
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 40px;
    font-style: italic;
    color: white;
}
.ages span{
    color: #EFB01D;
}
.punchline .shows{
    margin-left: 40px;
}

.card-1 {
    margin-top: 100px;
    width: 320px;
    height: 340px;
    background-color: white;
    transform: translate(400px, 570px);
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.6));
}

.card-1 .upper-bar{
    width: 100%;
    background-color: #302E3A;
    height: 15%;
}
.upper-content {
    display: inline-block;
    margin: 10px;
}
.digit{
    transform: translate(13px, -0px);
    font-family: 'Fugaz One',cursive;
    font-size: 20px;
    color: white;
}
.show-type{
    position: absolute;
    transform: translate(45px, 0px);
    font-family: 'Fugaz One',cursive;
    font-size: 20px;
    color: #EFB01D;
}

.card-image{
    width: 100%;
}
.card-image img {
    height: 324px;
    bottom: -55px;
}
.lower-bar{
    position: absolute;
    background-color: #302E3A;
    width: 100%;
    height: 14%;
    bottom: -40px;
}

.pin{
    display: inline-block;
    margin: 16px;
    color: #EFB01D;
}
.location{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    transform: translate(-15px);
}
 #cards {
    display: inline-block;
 }


.left-side-cards {
    transform: translate(50px, 150px);
}
/* .three{
    position: absolute;
    transform: translate(760px, -170px);
}
.four {
    position: absolute;
    transform: translate(760px, -593px);
} */

.clients {
    position: relative;
    width: 100%;
    height: 754px;
    background: white;
    transform: translate(0px, 1800px); 
    z-index: 0;
}
.z{
    position: relative;
    z-index: 1;
}
.clients-heading{
    position: absolute;
    text-align: right;
}
.clients-heading h1{
    position: absolute;
    font-family: 'Fugaz One',cursive;
    font-weight: 400;
    color: #EFB01D;
    font-size: 64px;
    line-height: 70px;
    left: 869px;
    top: 100px;
}

.testimonila{
    width: 556px;
    background-color: white;
    height: 350px;
    background: #302E3A;
    margin: 20px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.6);
}
.testimonial-content {
    position: absolute;
    display: inline-block;
}

.one-1 img{
    height: 350px;
}
.two-2 {
    width: 18%;
    transform: translate(270px, 0px);
}
.symbol {
    position: relative;
    display: inline;
    margin: 10px;
    color: #EFB01D;
    top: 30px;
    left: 13px;
}
.testimonila{
    display: inline-block;
}
.symbol{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    top: 16px;
}
.quote-symbol{
    font-size: 50px;
    color: white;
    margin-top: 4px;
    margin-left: 20px;
}
.client-name{
    font-family: 'Montserrat', sans-serif;
    color: #EAEAEB;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0,04em;
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 20px;
}
.client-review{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
.client-review p{
    color: #EAEAEB;
    margin-left: 20px;
}
.carousel{
    top: 310px;
}
.carousel-item{
    margin-left: 150px;
}
.carousel-control-prev{
    position: absolute;
}

/* footer{
    background-color: rgb(255, 0, 0);
    height: 289px;
    width: 100%;
}
.footer-heading{
    position: relative;
    margin-left: 140px;
    top: 40px;
}
.footer-heading h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.04em;
    font-size: 32px;
}
.footer-heading h1 span{
    color: #EFB01D;
}
.footer-contacts{
    margin-left: 140px;
} */

.footer{
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    transform: translate(0px, 1960px);
    height: 200px;
}
.for-enquiries{
    
    width: 50%;
    transform: translate(100px, 40px);
}
.for-enquiries h1{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    color: #4B4638;
}
.for-enquiries h1 span{
    color: #EFB01D;
}
.footer-text-number p{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}
.footer-icon-call{
    display: inline-block;
    transform: translate(100px, 60px);
}
.footer-icon-email{
    display: inline-block;
    transform: translate(100px, 60px);
}
.footer-email-id{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}
hr{
     margin-left: 80px;
     width: 70%;
     font-weight: bold;
 }
.p-2{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 60%;
    font-weight: 500;
    line-height: 24px;
    margin-left: 76px;
}
.p-2 span{
    font-weight: bold;
}
.Contacts-section{
  margin-top: 150px;  
}
.cat-icon{
    margin-top: 80px;
    margin-left: 160px;
}
nav{
    position: absolute;
    visibility: hidden;
}

.nav-bar-content{
    display: inline-block;
}
.textNumber a{
    text-decoration: none;
    color: black;
}
.dropdown button{
    transform: translate(240px, 0px);
    background-color: white;
    border: none;
}
.dropdown button:active{
    background: white;
    border: none;
}
.dropdown{
    position: absolute;
}
.footer-contact-section{
    visibility: hidden;
}
.homePage{
    overflow: hidden;
}
.frame-2{
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    nav{
        width: 100%;
        position: relative;
        visibility: visible;
        background-color: #ffffff;
        height: 50px;
    }
    .nav-bar{
        display: inline-block;
    }
    .logo-asm{
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
    }
    .phone-icon{
        float: right;
    }
    .phone-icon img{
        height: 45px;
    }
    .email-icon{
        transform: translate(-70px, 5px);
        z-index: 1;
    }
    .email-icon img{
        height: 35px;
    }
    .nav-bar-icon{
        margin-right: 10px;
    }
    .homePage{
        height: 950px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }
    hr{
        visibility: hidden;
    }
    .ontainer{
        width: 100%;
    }
    .top{
        transform: translate(40px, 10px);
        visibility: hidden;
    }
    .content{
        position: absolute;
        transform: translate(-440px, 100px);
    }
    .text-heading{
        position: absolute;
        margin-top: 230px;
    }
    .p-1{
        position: absolute;
        margin-top: 540px;
        margin-left: 88px;
        width: 367px;
    }
    .p-2{
        position: absolute;
        margin-left: 84px;
        margin-top: 560px;
    }
    .content .text-heading h4{
        font-size: 18px;
    }
    .content .text-heading h1{
        font-size: 56px;
        color: #4B4638;
        margin-top: px;
        margin-left: 90px;
    }   
    .text-paragraph p {
        position: absolute;
        color: #4B4638;
    }
    .rahul-image img{
        height: 511px;
        width: 100%;
    }
    .icon-phone{
        transform: translate(3px, -12px);
    }
    .textNumber{
        font-size: 16px;
    }
    .Contacts-section{
        transform: translate(0px, 540px);
    }
    .icon-email{
        transform: translate(3px, 2px);
    }
    .frame-2{
        height: 2250px;
        width: 100%;
    }
    .heading h1{
        transform: translate(-80px, -90px);
        line-height: 34px;
        font-size: 56px;
    }
    .punchline h1{
        font-size: 18px;
        font-weight: bold;
        transform: translate(-790px, -450px);
    }
    .right-side-cards{
        transform: translate(-371px, -440px);
    }
    .card-1{
        margin-top: 60px;
    }
    .left-side-cards{
        transform: translate(-372px, -440px);
    }
    .z{
        z-index: 1;
        position: relative;
        
    }
    .clients{
        z-index: -1;
        background-color: rgb(255, 255, 255);
        width: 100%;
        transform: translate(0px, 2230px);
        height: 1040px;
    }
    #heading{
        background-color: rgb(255, 255, 255);
    }
    .cat-icon img{
        height: 130px;
        transform: translate(-230px, 20px);
    }
    .clients-heading{
        position: relative;
        margin: 0;
        background-color: #ffffff;
    }
    .clients-heading h1{
        transform: translate(-850px, -60px);
        text-align: left;
        font-size: 45px;
        line-height: 40px;
        color: 
        #4B4638;
    }
    .carousel{
        width: 390px;
        height: 740px;
        transform: translate(0px, -140px);
        overflow: hidden;
    }
    .testimonila{
        width: 268px;
        height: 688px;
        transform: translate(-113px);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.6);
    }
    .testimonila-2{
        visibility: hidden;
    }
    .one-1 img{
        height: 350px;
    }
    .two-2{
        position: absolute;
        width: 268px;
        transform: translate(-10px, 340px);
    }
    .carousel-control-prev{
        position: absolute;
        transform: translate(-6px, -00px);
    }
    .carousel-control-next{
        position: absolute;
        transform: translate(-10px, -00px);
    }
    .footer{
        height: 100px;
        background-color: rgb(255, 255, 255);
        transform: translate(0px, 2240px);
    }
    .for-enquiries{
        width: 100%;
        background-color: rgb(255, 255, 255);
        transform: translate(0px, 0px);
    }
    .for-enquiries h1{
        text-align: center;
        font-size: 18px;
    }
    .footer-contact-section{
        visibility: hidden;
    }
    .homePage{
        overflow: hidden;
    }
    .frame-2{
        overflow: hidden;
    }
}
@media only screen and (max-width: 370px) {
    nav{
        width: 100%;
        position: relative;
        visibility: visible;
        background-color: #ffffff;
        height: 50px;
    }
    .nav-bar{
        display: inline-block;
    }
    .logo-asm{
        text-align: center;
        margin-top: 10px;
        margin-left: 10px;
    }
    .phone-icon{
        float: right;
    }
    .phone-icon img{
        height: 45px;
    }
    .email-icon{
        float: right;
    }
    .email-icon img{
        height: 45px;
    }
    .nav-bar-icon{
        margin-right: 10px;
    }
    .homePage{
        height: 950px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }
    hr{
        visibility: hidden;
    }
    .ontainer{
        width: 100%;
    }
    .top{
        transform: translate(40px, 10px);
        visibility: hidden;
    }
    .content{
        position: absolute;
        transform: translate(-440px, 100px);
    }
    .text-heading{
        position: absolute;
        margin-top: 230px;
    }
    .p-1{
        position: absolute;
        margin-top: 540px;
        margin-left: 88px;
        width: 367px;
    }
    .p-2{
        position: absolute;
        margin-left: 84px;
        margin-top: 560px;
    }
    .content .text-heading h4{
        font-size: 18px;
    }
    .content .text-heading h1{
        font-size: 56px;
        color: #4B4638;
        margin-top: px;
        margin-left: 90px;
    }   
    .text-paragraph p {
        position: absolute;
        color: #4B4638;
    }
    .rahul-image img{
        height: 511px;
        width: 100%;
    }
    .icon-phone{
        transform: translate(3px, -12px);
    }
    .textNumber{
        font-size: 16px;
    }
    .Contacts-section{
        transform: translate(0px, 540px);
    }
    .icon-email{
        transform: translate(3px, 2px);
    }
    .frame-2{
        height: 2250px;
        width: 390px;
    }
    .heading h1{
        transform: translate(-80px, -90px);
        line-height: 34px;
        font-size: 56px;
    }
    .punchline h1{
        font-size: 18px;
        font-weight: bold;
        transform: translate(-790px, -450px);
    }
    .right-side-cards{
        transform: translate(-371px, -440px);
    }
    .card-1{
        margin-top: 60px;
    }
    .left-side-cards{
        transform: translate(-372px, -440px);
    }
    .z{
        z-index: 1;
        position: relative;
        
    }
    .clients{
        z-index: -1;
        background-color: rgb(255, 255, 255);
        width: 100%;
        transform: translate(0px, 2230px);
        height: 1040px;
        overflow: hidden;
    }
    #heading{
        background-color: rgb(255, 255, 255);
    }
    .cat-icon img{
        height: 130px;
        transform: translate(-230px, 20px);
    }
    .clients-heading{
        position: relative;
        margin: 0;
        background-color: #ffffff;
    }
    .clients-heading h1{
        transform: translate(-850px, -60px);
        text-align: left;
        font-size: 45px;
        line-height: 40px;
        color: 
        #4B4638;
    }
    .carousel{
        width: 390px;
        height: 740px;
        transform: translate(0px, -140px);
        overflow: hidden;
    }
    .testimonila{
        width: 268px;
        height: 688px;
        transform: translate(-113px);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.6);
    }
    .testimonila-2{
        visibility: hidden;
    }
    .one-1 img{
        height: 350px;
    }
    .two-2{
        position: absolute;
        width: 268px;
        transform: translate(-10px, 340px);
    }
    .carousel-control-prev{
        position: absolute;
        transform: translate(-6px, -00px);
    }
    .carousel-control-next{
        position: absolute;
        transform: translate(-10px, -00px);
    }
    .footer{
        height: 100px;
        background-color: rgb(255, 255, 255);
        transform: translate(0px, 2240px);
        width: 390px;
    }
    .for-enquiries{
        width: 100%;
        background-color: rgb(255, 255, 255);
        transform: translate(0px, 0px);
    }
    .for-enquiries h1{
        text-align: center;
        font-size: 18px;
    }
    .footer-contact-section{
        visibility: hidden;
    }
    .homePage{
        overflow: hidden;
    }
    .frame-2{
        overflow: hidden;
    }
    .sr{
        width: 390px;
    }
    body{
        overflow-x: hidden;
    }
}